<div class="max-h-full h-dvh bg-blue-200">
  <div class="pt-8 h-full">
    <div
      (click)="devolverAMenuEstudiante()"
      class="p-4 bg-slate-400 mb-4 mx-4 size-fit rounded-2xl cursor-pointer"
    >
      <p class="font-bold text-white"><- Volver a menu del estudiante</p>
    </div>
    <div class="pr-20">
      <div class="bg-[#0369A1] py-12 rounded-e-3xl">
        <p class="px-10 text-cyan-50">Nombre estudiante</p>
        <p class="text-cyan-50 text-4xl px-10">
          {{ practicas_estudiante.estudiante.nombreCompleto }}
        </p>
      </div>
    </div>
    <div class="mt-12 bg-[#0369A1] h-full text-cyan-50 overflow-y-auto">
      <div class="h-3/4">
        <div class="mx-20 pt-6 my-4">
          <p class="font-semibold text-3xl">Practicas realizadas</p>
        </div>
        <div *ngFor="let practica of this.practicas_estudiante.practicas">
          <div
            class="py-4 transition ease-in-out hover:-translate-x-1 hover:scale-140"
          >
            <div class="bg-[#1377AD] mx-20 rounded-t-lg p-4">
              <p class="font-semibold text-2xl">
                Practica {{ practica.posicionRelativa }}
              </p>
            </div>
            <div
              class="bg-[#048AD3] mx-20 rounded-b-2xl flex-row grid grid-cols-2 gap-4 shadow-md"
            >
              <div class="rounded-b-xl w-full">
                <div class="p-4 justify-between">
                  <div class="py-2">
                    <p class="text-cyan-100">Centro de practica</p>
                    <p class="text-2xl">{{ practica.centroPractica }}</p>
                  </div>
                  <div class="py-2">
                    <p class="text-cyan-100">Modalidad</p>
                    <p class="text-2xl">{{ practica.nombreModalidad }}</p>
                  </div>
                  <div class="py-2">
                    <p class="text-cyan-100">Título practica</p>
                    <p class="text-xl">{{ practica.titulo }}</p>
                  </div>
                  <div class="py-2">
                    <p class="text-xl font-bold">
                      Intento {{ practica.numIntento }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="justify-self-end content-center mx-5 justify-center">
                <div
                  class="bg-[#DC911A] m-6 shadow-lg text-2xl w-40 h-40 flex items-center justify-center rounded-xl"
                >
                  <p class="text-shadow text-5xl font-semibold text-green-100">
                    {{ practica.notaFinal.toFixed(1) }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
