<div class="container mx-auto mt-10 p-6 shadow-lg rounded-lg bg-gray-50">
  <div (click)="devolverAlFluxograma()" class="p-4 bg-slate-400 mb-6 rounded-2xl cursor-pointer hover:bg-slate-500 transition duration-300 ease-in-out size-fit">
    <p class="font-bold text-white"><- Volver a ver el fluxograma</p>
  </div>
  <h2 class="text-center mb-6 text-3xl font-bold text-white bg-[#21A4DC] py-4 rounded-lg shadow-md">
    Cursos del Semestre
  </h2>

  <div *ngIf="cursos && cursos.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div *ngFor="let curso of cursos" class="bg-white rounded-lg shadow-lg p-6 transition-transform hover:scale-105">
      <h3 class="text-xl text-center font-bold text-white bg-[#DC911A] py-2 rounded-lg mb-4">{{curso.nombre}}</h3>
      <p><strong>Año: </strong>{{curso.anio}}</p>
      <p><strong>Semestre: </strong>{{curso.semestre}}</p>
      <div class="mt-4">
        <p class="text-sm text-gray-500">Porcentaje de Aprobación:</p>
        <div class="w-full bg-gray-200 rounded-full h-5 mb-2">
          <div class="bg-green-500 h-5 rounded-full" [style.width]="curso.porcentajeAprobacion + '%'"></div>
        </div>
        <span class="text-sm text-gray-600">{{curso.porcentajeAprobacion}}%</span>
      </div>
      <div class="mt-4">
        <p class="text-sm text-gray-500">Porcentaje de Reprobación:</p>
        <div class="w-full bg-gray-200 rounded-full h-5 mb-2">
          <div class="bg-red-500 h-5 rounded-full" [style.width]="curso.porcentajeReprobacion + '%'"></div>
        </div>
        <span class="text-sm text-gray-600">{{curso.porcentajeReprobacion}}%</span>
      </div>
      <button class="mt-6 w-full bg-[#21A4DC] text-white py-2 px-4 rounded-lg hover:bg-[#1A89A1] focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-opacity-50" [routerLink]="['/aprobacion',idFluxograma, idAsignatura]">Ver Detalle</button>
    </div>
  </div>

  <div *ngIf="cursos && cursos.length === 0" class="bg-blue-100 text-blue-800 text-center py-4 rounded-lg mt-4">
    No hay cursos disponibles para el semestre seleccionado.
  </div>
</div>