<div class="bg-[#0073A6] min-h-screen p-8 text-white">
    <div (click)="devolverAListarEstudiantes()" class="p-4 bg-slate-400 mb-4 size-fit rounded-2xl cursor-pointer">
        <p class="font-bold"><- Volver a ver lista de estudiantes</p>
    </div>
    <div class="mb-6">
      <div class="text-sm font-light">Nombre completo estudiante</div>
      <div class="text-2xl font-bold">{{nombreEstudiante}}</div>
    </div>
  
    <div class="mt-6">
      <div class="text-xl font-semibold mb-4">Menú</div>
  
      <div class="bg-white rounded-xl shadow-lg mb-4 cursor-pointer" (click)="irAPracticasEstudiante()">
        <div class="bg-[#DAA520] h-2 rounded-t-xl"></div>
        <div class="flex justify-center items-center h-24 bg-[#DFF4F9]">
          <span class="text-2xl font-semibold text-black">Prácticas</span>
        </div>
      </div>
  
      <div class="bg-white rounded-xl shadow-lg cursor-pointer" (click)="irAAvanceCurricular()">
        <div class="bg-[#DAA520] h-2 rounded-t-xl"></div>
        <div class="flex justify-center items-center h-24 bg-[#DFF4F9]">
          <span class="text-2xl font-semibold text-black">Avance curricular</span>
        </div>
      </div>
    </div>
  </div>
  