<h1 class="text-5xl my-10 text-center font-semibold">{{asignatura}}</h1>

<h3 class="text-2xl mb-10 text-center font-medium">Estadisticas de evaluaciones diagnostico</h3>

<div class="container mx-auto">
    <div class="flex justify-center">
      <div class="w-1/6 flex flex-col p-5 bg-gray-100 text-center rounded-md">
        <h3 class="text-xl font-semibold mb-5">Años</h3>
        <ul class="space-y-4">
            @for(diagnostico of labels; track diagnostico; let i = $index){
                <li class="w-full border-2 border-green-700 bg-emerald-500 text-white py-2 px-4 rounded cursor-pointer hover:bg-emerald-700" (click)="seleccionado(diagnostico)">{{diagnostico}}</li>
            }
        </ul>
      </div>
  
      <div class="w-5/6 p-5 mx-3 bg-gray-100 rounded-md">
        <p-chart type="line" [data]="data" [options]="options"></p-chart>
      </div>
    </div>
  </div>