<p-menubar styleClass="bg-sky-700 text-white border-0 rounded-none">
  <ng-template pTemplate="start">
    <div class="flex ms-6">
      <button pButton class="p-button-text text-white border p-2" (click)="mostrarBarraLateral()">
        <i class="pi pi-bars text-2xl"></i>
      </button>
      <div class="flex items-center me-6 cursor-pointer" (click)="menu()">
        <img src="logo.png" alt="Logo" class="h-12 mx-10">
        <div class="text-start my-1">
          <h2 class="font-bold text-md leading-tight">Pedagogia en</h2>
          <h2 class="font-bold text-md leading-tight">Educacion Diferencial</h2>
        </div>
      </div>
      
    </div>
  </ng-template>

 
  <ng-template pTemplate="end">
    @if (!isLoginRoute()){
    <div class="flex items-center space-x-4 me-6">
      <button>
        <i class="pi pi-bell text-xl"></i>
      </button>
      <button (click)="menu.toggle($event)">
        <i class="pi pi-cog text-xl"></i>
      </button>
      <p-menu #menu [popup]="true" [model]="menuDesplegable" [appendTo]="'body'"></p-menu>
    </div>
    }
  </ng-template>
</p-menubar>

<div class="absolute" [style]="{height: 'calc(100vh - 66px)'}">
  <p-sidebar [(visible)]="barraLateralVisible" position="left" [modal]="false" [style]="{position: 'absolute'}">
    @if (!isLoginRoute()){
      <ng-template pTemplate="header">
        <div class="font-semibold text-2xl border-b-4 border-sky-700 w-10/12">
          <span>Modulos</span>
        </div>
      </ng-template>
  
      <p-tree [value]="opciones" selectionMode="single" styleClass="border-0 p-0 mx-3 font-medium" (onNodeSelect)="seleccionarNodo($event)"></p-tree>
    }
    @else {
      <div class="w-full mt-10 text-center">
        <span class="font-normal text-md">Debes iniciar sesión para navegar</span>
      </div>
    }

  </p-sidebar>
</div>