:host ::ng-deep .p-sidebar-content {
    padding: 0px;
}

:host ::ng-deep .p-treenode-content {
    display: flex;
    flex-direction: row-reverse;
}

:host ::ng-deep .p-treenode-label {
flex: 1;
}

:host ::ng-deep .p-treenode-icon {
margin-left: auto;
}

:host ::ng-deep .p-treenode {
    margin-bottom: 10px;
}
