<div class="container mx-auto p-4">
  <h1 class="text-xl font-bold">Listado de Fluxogramas</h1>
  <div class="mt-6">
    <ul>
      <!-- Mostrar fluxogramas -->
      <li *ngFor="let fluxograma of fluxogramas" class="p-4 bg-gray-100 mt-2 rounded shadow hover:shadow-lg transition-shadow duration-300">
        <p><strong>Plan de Estudio:</strong> {{ fluxograma.planEstudio }}</p>
        <p><strong>Código:</strong> {{ fluxograma.codigo }}</p>
        <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" (click)="escogerPlan(fluxograma.id)">Escoger</button>      
      </li>
    </ul>
  </div>
</div>
