<div class="bg-white min-h-screen p-8">
  <div (click)="devolverAlMenu()" class="p-4 bg-slate-400 mb-6 rounded-2xl cursor-pointer hover:bg-slate-500 transition duration-300 ease-in-out size-fit">
    <p class="font-bold text-white"><- Volver al menu</p>
  </div>
  <div class="flex items-center justify-center bg-[#DC911A] rounded-xl py-6 mb-10">
    <h1 class="text-5xl font-black text-white">Fluxogramas</h1>
  </div>

  <div *ngIf="cargando" class="flex justify-center items-center h-[calc(100vh-200px)]">
    <div class="spinner-border animate-spin inline-block w-16 h-16 border-4 rounded-full border-t-transparent border-[#21A4DC]"></div>
  </div>

  <div *ngIf="!cargando" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 m-4">
    <!--<p-card *ngFor="let fluxograma of fluxogramas" header="" styleClass="bg-[#21A4DC] shadow-md cursor-pointer rounded-lg text-center text-white py-12 transition-transform hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_0_4px_theme(colors.sky.500)]" (click)="escogerPlan(fluxograma.id)">
      <p class="text-2xl font-bold mb-2">{{ fluxograma.titulo }}</p>
      <p class="text-lg">Código: {{ fluxograma.anio }}</p>
    </p-card>-->
    <p-card *ngFor="let fluxograma of fluxogramasNuevo" header="" styleClass="bg-[#21A4DC] shadow-md cursor-pointer rounded-lg text-center text-white py-12 transition-transform hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_0_4px_theme(colors.sky.500)]" (click)="escogerPlan(fluxograma.idPlan)">
      <p class="text-2xl font-bold mb-2">{{ fluxograma.titulo }}</p>
      <p class="text-lg">Código: {{ fluxograma.codigo }}</p>
      <p class="text-lg">Fecha: {{ fluxograma.agnio}}</p>
    </p-card>
  </div>
</div>