<div class="min-h-screen bg-gray-100 py-10">
  <div class="container mx-auto rounded-lg overflow-hidden">
    <button (click)="devolverAListarFluxogramas()" class="transition-transform hover:scale-105 mb-5 m-2 px-4 py-2 bg-gray-300 hover:bg-gray-400 hover:text-white rounded-full shadow-md">
      <p class="flex items-center">
          <i class="pi pi-arrow-left text-xl me-2"></i> Volver a lista de fluxogramas
      </p>
  </button>
    
    <div class="bg-[#21A4DC] p-8 text-center rounded-t-lg">
      <h1 class="text-5xl font-black text-white">Plan de Estudios: {{fluxograma.titulo}}</h1>
      <h3 class="text-xl font-medium text-white mt-4">Año: {{fluxograma.agnio}}</h3>
    </div>

    <div class="w-full text-end my-5">
        <button class="text-end bg-[#DC911A] font-bold text-lg text-white px-4 me-2 py-2 rounded-xl hover:bg-[#bf7d13] transition-transform hover:scale-105" (click)="gestionarLinea()">Gestionar líneas</button>
    </div>

    <div class="flex flex-wrap justify-center gap-8 bg-white py-10 px-6 shadow-lg">
      <div *ngIf="!semestres?.length" class="w-full flex justify-center items-center">
        <div class="spinner-border animate-spin inline-block w-16 h-16 border-4 rounded-full border-t-transparent border-[#21A4DC]"></div>
      </div>

      <div *ngFor="let semestre of semestres; let i = index" class="p-6 bg-gray-100 rounded-lg shadow-md w-[400px]">
        <div class="mb-6 p-4 bg-[#DC911A] text-white text-2xl font-bold rounded-lg">{{semestre}} Semestre</div>
        <div class="space-y-4">
          @for (asignatura of detalleFluxograma; track asignatura; let j = $index){
            <div *ngIf="asignatura.semestre == i + 1">
              <div class="p-4 rounded-xl cursor-pointer transition-transform hover:scale-105 hover:shadow-lg"
                [ngClass]="{
                  'bg-sky-500 text-white': esCortePracticoNuevo(asignatura.caracter),
                  'bg-green-500 text-white': esTributada(asignatura.idAsignatura),
                  'bg-red-500 text-white': esPrevia(asignatura.idAsignatura) && !esTributada(asignatura.idAsignatura),
                  'bg-gray-300 text-gray-800': !esPrevia(asignatura.idAsignatura) && !esTributada(asignatura.idAsignatura)
                }"
                (click)="detalleAsignatura(asignatura.idAsignatura, asignatura.codigo)"
                (mouseenter)="resaltarAsignaturas(asignatura.prerrequisitos, asignatura.tributaciones)"
                (mouseleave)="quitarResaltado()"
                (contextmenu)="abrirContextMenu($event, contextMenu, asignatura.codigo)">
                <div class="text-sm font-semibold mb-1">{{asignatura.codigo}}</div>
                <div class="text-lg font-bold">{{asignatura.nombre}}</div>
              </div>
              <p-contextMenu #contextMenu [model]="lineaMenu" (onHide)="cerrarContextMenu()" [styleClass]="'w-[300px] bg-white shadow-lg border border-gray-300 rounded-md p-2'"></p-contextMenu>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>



<p-toast position="top-right"></p-toast>
