<h1 class="text-5xl my-10 text-center font-semibold">Plan de estudios: {{fluxograma?.titulo}}</h1>

<h3 class="text-xl mb-20 text-center font-medium">Año: {{fluxograma?.anio}}</h3>

<div class="container mx-auto my-10">
    <div class="w-full text-end">
        <button class="text-end bg-amber-500 text-white p-3 rounded-2xl" (click)="gestionarLinea()">Gestionar lineas</button>
    </div>
    <div class="overflow-x-auto py-5" (scroll)="onScroll()">
        <div class="flex space-x-8 text-center">
            @for (semestre of semestres; track semestre; let i = $index) {
                <div class="p-5 border rounded-lg bg-gray-200 shadow-md flex flex-col space-y-4 w-[400px]">
                    <div class="p-3 bg-white mb-5 font-bold text-3xl border rounded-lg border-gray-300">
                        {{semestre}} Semestre
                    </div>
                    <div class="space-y-6">
                        @for (asignatura of detalleFluxograma; track asignatura; let j = $index) {
                            @if (asignatura.semestre == i+1) {
                                <div #card class="p-4 border border-gray-300 rounded-lg flex flex-col space-y-2 w-[300px] mx-auto" 
                                    [ngClass]="{
                                        'bg-sky-400': esCortePractico(asignatura),
                                        'bg-red-400': esPrevia(asignatura.idAsignatura),
                                        'bg-green-400': esTributada(asignatura.idAsignatura),
                                        'bg-white': !esPrevia(asignatura.idAsignatura) && !esTributada(asignatura.idAsignatura)
                                        }"
                                    (click)="detalleAsignatura(asignatura.idAsignatura, asignatura.asignatura.nombre, asignatura.esRequeridaEn, asignatura.esTributadaEn)" 
                                    (mouseenter)="resaltarAsignaturas(asignatura.esRequeridaEn, asignatura.esTributadaEn)"
                                    (mouseleave)="quitarResaltado()">
                                    <div class="flex justify-between items-center mb-2">
                                        <div class="text-sm text-gray-600 font-medium">{{asignatura.asignatura.codigo}}</div>
                                    </div>
                                    <div class="text-lg font-semibold">
                                        {{asignatura.asignatura.nombre}}
                                    </div>
                                </div>

                                <p-contextMenu
                                    #menu
                                    [target]="card"
                                    [model]="lineaMenu"
                                    (onShow)="onContextMenuOpen(menu, asignatura.idAsignatura)"
                                    [styleClass]="'w-[300px] bg-white shadow-lg border border-gray-300 rounded-md p-2'">
                                </p-contextMenu>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<p-toast position="top-right"></p-toast>
