<div class="bg-white border-y mt-10 py-5 shadow-lg">
    <div class="flex items-center justify-between w-11/12">
        <div class="bg-sky-700 w-3/12 rounded-r-xl py-4">
            <h1 class="text-5xl text-white text-center font-bold">Menú</h1>
        </div>
    </div>
</div>

<div class="grid grid-cols-3 gap-12 m-14 bg-white p-10 shadow-lg rounded-md">
    <p-card header="" styleClass="bg-sky-700 shadow-md cursor-pointer rounded-lg text-center text-white py-16 transition-transform hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_0_3px_theme(colors.sky.500)]"
            (click)="redirigirHacia('fluxogramas')">
        <p class="text-4xl font-semibold">Fluxogramas</p>
    </p-card>
    <p-card header="" styleClass="bg-sky-700 shadow-md cursor-pointer rounded-lg text-center text-white py-16 transition-transform hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_0_3px_theme(colors.sky.500)]"
            (click)="redirigirHacia('asignaturas')">
        <p class="text-4xl font-semibold">Asignaturas</p>
    </p-card>
    <p-card header="" styleClass="bg-sky-700 shadow-md cursor-pointer rounded-lg text-center text-white py-16 transition-transform hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_0_3px_theme(colors.sky.500)]"
            (click)="redirigirHacia('convenios')">
        <p class="text-4xl font-semibold">Convenios</p>
    </p-card>
    <p-card header="" styleClass="bg-sky-700 shadow-md cursor-pointer rounded-lg text-center text-white py-16 transition-transform hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_0_3px_theme(colors.sky.500)]"
            (click)="redirigirHacia('practicas-estudiante')">
        <p class="text-4xl font-semibold">Prácticas</p>
    </p-card>
    <p-card header="" styleClass="bg-sky-700 shadow-md cursor-pointer rounded-lg text-center text-white py-16 transition-transform hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_0_3px_theme(colors.sky.500)]"
            (click)="redirigirHacia('avance-estudiante')">
        <p class="text-4xl font-semibold">Avance individual</p>
    </p-card>
    <p-card header="" styleClass="bg-sky-700 shadow-md cursor-pointer rounded-lg text-center text-white py-16 transition-transform hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_0_3px_theme(colors.sky.500)]"
            (click)="redirigirHacia('lista-end')">
        <p class="text-4xl font-semibold">END</p>
    </p-card>
    <p-card header="" styleClass="bg-sky-700 shadow-md cursor-pointer rounded-lg text-center text-white py-16 transition-transform hover:scale-105 hover:bg-sky-600 hover:shadow-[0_0_0_4px_theme(colors.sky.500)]"
            (click)="redirigirHacia('ver-tendencias')">
        <p class="text-4xl font-semibold">Tendencias</p>
    </p-card>
</div>
