
<div class="rounded">
    <div class="flex justify-center mt-10">
      <div class="text-center">
        <h1 class="text-2xl font-semibold">Aprobacion y reprobacion de</h1>  
        <div class="mt-4">
          <label class="mr-2 text-gray-600">Año</label>
          <select class="border border-gray-300 rounded-lg py-2 px-4">
            <option>2024</option>
            <option>2025</option>
          </select>
        </div>
      </div>
    </div>
  
    <div class="flex justify-center mt-10">
  
<div class="card flex justify-content-center">
    <p-chart type="pie" [data]="data" [options]="options" />
</div>
  </div>
  