<div class="container mx-auto mt-10 p-6 shadow-lg rounded-lg bg-gray-50">
  <div *ngIf="cargando; else contenido" class="w-full flex justify-center items-center h-96">
    <div class="spinner-border animate-spin inline-block w-16 h-16 border-4 rounded-full border-t-transparent border-[#21A4DC]"></div>
  </div>
  
  <ng-template #contenido>
    <div (click)="devolverAListarCursos()" class="p-4 bg-slate-400 mb-6 rounded-2xl cursor-pointer hover:bg-slate-500 transition duration-300 ease-in-out size-fit">
      <p class="font-bold text-white"><- Volver a ver lista de cursos</p>
    </div>
    <div class="bg-[#0369A1] mt-10 p-6 shadow-lg rounded-lg">
      <!--<h2 class="text-center mb-6 text-3xl font-bold text-white bg-[#21A4DC] py-4 rounded-lg shadow-md">{{asignatura?.nombre}}</h2>-->
      <h2 class="text-center mb-6 text-3xl font-bold text-white bg-[#21A4DC] py-4 rounded-lg shadow-md">{{asignaturaNueva?.nombreAsignatura}}</h2>

    
      <h3 class="text-2xl font-semibold text-white text-center">Porcentaje de aprobación y reprobación según plan</h3>
    
      <div class="flex flex-wrap justify-center mt-2">
        <div class="grid grid-cols-2 sm:grid-cols-2 gap-48">
          <label>
            <span class="text-lg text-white font-medium">Seleccionar años:</span>
              <!--<select class="form-select mt-1 block w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-blue-50 focus:ring focus:ring-blue-300 focus:outline-none" [(ngModel)]="anioSeleccionado" (change)="cargarDatos()">-->
              <select class="form-select mt-1 block w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-blue-50 focus:ring focus:ring-blue-300 focus:outline-none" [(ngModel)]="anioSeleccionado" (change)="cargarDatosNuevo()">
                <option value="todos">Todos los años</option>
                <option *ngFor="let anio of anios" [value]="anio">{{anio}}</option>
              </select>
          </label>
          <label>
            <span class="text-lg text-white font-medium">Selecciona Cohorte</span>
            <!--<select class="form-select mt-1 block w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-blue-50 focus:ring focus:ring-blue-300 focus:outline-none"  [(ngModel)]="cohorteSeleccionado" (change)="cargarDatos()">-->
            <select class="form-select mt-1 block w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-blue-50 focus:ring focus:ring-blue-300 focus:outline-none"  [(ngModel)]="cohorteSeleccionado" (change)="cargarDatosNuevo()">
              <option value="todos">Todos los cohortes</option>
              <option *ngFor="let cohorte of cohortesUnicos" [value]="cohorte">
                {{ cohorte }}
              </option>
            </select>
          </label>
        </div>
      </div>
    
      <div class="flex flex-wrap justify-center gap-8 mt-6">
        <div *ngFor="let grafico of graficos" class="w-full sm:w-96 bg-gray-100 p-6 rounded-lg shadow-md">
          <!--<h4 class="text-xl mb-3 text-center font-bold text-gray-700">{{ grafico.tipoIngreso }}</h4>-->
          <h4 class="text-xl mb-3 text-center font-bold text-gray-700">{{ grafico.plan }}</h4>
          <p-chart type="pie" [data]="grafico.data" [options]="options"></p-chart>
        </div>
      </div>
    </div>
  </ng-template>
</div>