<div class="w-full my-5 ps-10">
    <button (click)="volverAlMenu()" class="transition-transform hover:scale-105 px-4 py-2 bg-gray-300 hover:bg-gray-400 hover:text-white rounded-full shadow-md">
        <p class="flex items-center">
            <i class="pi pi-arrow-left text-xl me-2"></i> Volver
        </p>
    </button>
</div>

<div class="bg-white border-y py-3 shadow-lg">
    <div class="flex items-center justify-between w-11/12">
        <div class="bg-sky-700 w-auto px-10 rounded-r-xl py-4">
            <h1 class="text-4xl text-white text-center font-bold">Resultados de Evaluación Nacional Diagnóstica</h1>
        </div>
        <button class="rounded-full px-4 transform transition hover:scale-105 py-2 bg-sky-700 hover:bg-sky-800" (click)="alternarModal()">
            <span class="text-white font-semibold">Agregar Resultados END</span>
        </button>  
    </div>
</div>

@if(cargando){
    <div class="w-full flex justify-center items-center" style="height: calc(100vh - 100px);">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="none" animationDuration=".5s"/>
    </div>
} @else {
    <div class="mx-10 mt-14 bg-white p-10 shadow-lg rounded-md">

        <div class="w-full mb-10 flex justify-between items-center">
            <span class="p-input-icon-left w-8/12">
                <i class="pi pi-search text-sky-700"></i>
                <input type="text" class="ps-10 px-4 py-2 w-full h-fit rounded-xl font-normal font-bold border border-sky-500 focus:outline-none focus:ring focus:ring-sky-500 hover:ring-sky-500" placeholder="Buscar resultados" (input)="filtrarResultados($event)">
            </span>
            <div class="card flex justify-center w-4/12">
                <p-paginator 
                    (onPageChange)="onPageChange($event)" 
                    [first]="first" 
                    [rows]="rows" 
                    [totalRecords]="totalRecords" 
                    [rowsPerPageOptions]="[6, 10, 15]"
                    [styleClass]="'custom-paginator'"/>
            </div>
        </div>

        <div class="grid grid-cols-2 px-24 gap-x-20 gap-y-12">
            @for (resultado of resultadosPaginados; track resultado; let i = $index){
                <p-card styleClass="relative bg-sky-600 shadow-md cursor-pointer rounded-lg text-center text-white py-16 transition-transform hover:scale-105 hover:bg-sky-700 hover:shadow-[0_0_0_3px_theme(colors.sky.500)]" 
                (click)="redirigirHacia(resultado.idDato)">
                <div class="absolute top-0 left-0 w-full bg-sky-700 rounded-t-lg h-6"></div>
                <p class="text-4xl font-semibold">Resultados {{resultado.agnoRendicion}}</p>
                <p class="text-xl mt-4 font-normal">Cohorte {{resultado.cohorteAsociado}}</p>
            </p-card>
            }
        </div>    
    </div>
}
<p-dialog  
        [(visible)]="visible" 
        [modal]="true" 
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
        [style]="{ width: '75vw' }" 
        [draggable]="false" 
        [resizable]="false">
        
        <ng-template pTemplate="headless">
            <div class="bg-gray-100 border-2 border-sky-700 rounded-md shadow-lg">
                <form [formGroup]="formularioEND" (ngSubmit)="agregarEND()">
                    <div class="bg-white mt-5 py-3 shadow-lg border-y">
                        <h1 class="p-4 rounded-r-2xl w-6/12 bg-sky-700 text-white text-4xl font-bold">Registrar Resultados END</h1>
                    </div>
                    <div class="border bg-white rounded-lg py-4 my-5 mx-10 shadow-xl overflow-auto max-h-[60vh]">
                        <h2 class="mx-10 my-5 text-2xl p-2 font-bold">Detalles de los Resultados END</h2>    
                        <div class="mx-10 mb-12 flex items-center"> 
                            <p-floatLabel class="w-6/12 me-5 pe-6">
                                <p-calendar  
                                    view="year" 
                                    dateFormat="yy"
                                    formControlName="agnio"
                                    class="bg-gray-100 focus:outline-none focus:border-sky-700 py-3 border-2 shadow-lg rounded-2xl font-medium" 
                                    id="inicio"
                                    [minDate]="inicioMinimoAgnio"
                                    [maxDate]="inicioMaximoAgnio"
                                    />
                                <label for="inicio">Año</label>
                            </p-floatLabel>
                        </div><div class="mx-10 mb-12 flex items-center"> 
                            <p-floatLabel class="w-6/12 me-5 pe-6">
                                <p-calendar  
                                    view="year" 
                                    dateFormat="yy"
                                    formControlName="cohorte"
                                    class="bg-gray-100 focus:outline-none focus:border-sky-700 py-3 border-2 shadow-lg rounded-2xl font-medium" 
                                    id="inicio"
                                    [minDate]="inicioMinimoCohorte"
                                    [maxDate]="inicioMaximoCohorte"
                                    />
                                <label for="inicio">Cohorte</label>
                            </p-floatLabel>
                        </div>

                        <h2 class="mx-10 my-5 text-2xl p-2 font-bold">Documento PDF de los Resultados END</h2>
                        <div class="mx-10 mb-12">
                            <p-fileUpload 
                                name="demo[]" 
                                [multiple]="false" 
                                chooseLabel="Seleccionar Archivo"
                                chooseStyleClass="bg-sky-700 border-sky-700"
                                removeStyleClass="bg-sky-700 border-sky-700"
                                showUploadButton="false"
                                showCancelButton="false"
                                accept="application/pdf"
                                maxFileSize="5000000"
                                (onSelect)="seleccionarArchivo($event)"
                                (onRemove)="borrarArchivo($event)">
                            </p-fileUpload>
                        </div>
                    </div>
                    <div class="flex justify-center">
                        <a class="border-2 ms-1 my-1 bg-sky-700 hover:bg-sky-800 cursor-pointer  text-center text-white w-6/12 py-5 text-2xl font-bold p-2 rounded-l-md" (click)="alternarModal()">
                            Volver
                        </a>
                        <button class="border-2 me-1 my-1 bg-sky-700 hover:bg-sky-800 text-white w-6/12 py-5 text-2xl font-bold p-2 rounded-r-md">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </ng-template>
</p-dialog>

<p-toast position="top-right"></p-toast>
